.seat{
    
    max-width:20px !important;
    background-color: #dde2e9;
    border: 2px solid black;
    max-height: 25px;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.row {
    
    display: flex;
    justify-content: center;
    
}

body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.gray{
    background-color: gray;
}

.res{
    pointer-events: none;
    background-color: gray;
}

.green{
    background-color: #5CD5EB;
}

.greens{
    background-color: #5CD5EB;
    pointer-events: none;
}

.submit{
    pointer-events: none;
    opacity: 40%;    
}

#root{
    background-color: #F3F3F3;
    padding: 80px;
    margin: 70px;
    min-width: 70%;
    min-height: 70% !important;
    
}

.spanum{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

.fet{
    margin-left: 80px;
}

.sub{
    margin-left: 30%;
    margin-top: 30px;
}

.spamsg{
    display: block;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    color: #93c1d6;
}

.cont{
    margin-top: 30px;
    
}

.blink_text {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   }
   
   @keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
   }

.pmsg{
    color: #36B5EF;
    margin-top: 30px;
    margin-left: 50px;
    font-weight: bold;
    font-size: medium;
    
}

.pmsg span {
    background-color: #1A4665;
    padding: 5px 15px;
    border-radius: 20px;
}

.label span{
    font-weight: 500;
    background-color: #1A4665;
    padding: 5px 15px;
    border-radius: 20px;
}

.label{
    margin-bottom: 20px;
    color: #36B5EF;
}

.info .res{
    background-color: gray;
    pointer-events: none;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 15rem;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid #053a5f;
   outline: 3px solid #053a5f;
   outline-offset: 0.125rem; 
 }
 
 /******** Firefox styles ********/
 /* slider track */
 input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
 
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb {
   border: 1px solid #053a5f;
   outline: 3px solid #053a5f;
   outline-offset: 0.125rem; 
 }
 

