.seat{
    
    max-width:20px !important;
    
    border: 2px solid black;
    max-height: 25px;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.row {
    
    display: flex;
    justify-content: center;
    
}

body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.gray{
    background-color: gray;
}

.res{
    pointer-events: none;
    background-color: gray;
}

.green{
    background-color: rgb(35, 161, 35);
}

.greens{
    background-color: rgb(35, 161, 35);
    pointer-events: none;
}

.submit{
    pointer-events: none;
    opacity: 40%;    
}

#root{
    background-color: #F3F3F3;
    padding: 80px;
    margin: 70px;
    min-width: 70%;
    min-height: 70% !important;
    
}

.spanum{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

.fet{
    margin-left: 80px;
}

.sub{
    margin-left: 30%;
    margin-top: 30px;
}

.spamsg{
    display: block;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
}

.cont{
    margin-top: 30px;
    
}

.pmsg{
    color: green;
    margin-top: 30px;
    margin-left: 50px;
    font-weight: bold;
    font-size: larger;
}

.label{
    font-weight: 500;
}

.info .res{
    background-color: gray;
    pointer-events: none;
}
